@model IEnumerable<ERPBasico.Models.Gerencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Gerencias</h1>

<p>
    <a asp-action="Create">Crear gerencia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsGerenciaGeneral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsGerenciaGeneral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a> |
                <a asp-controller="Gasto" asp-action="ListarGastosPorGerencia" asp-route-gerenciaId="@item.Id">Gastos</a>
            </td>
        </tr>
}
    </tbody>
</table>
