@model ERPBasico.Models.Posicion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Posicion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sueldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sueldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empleado.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jefe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jefe.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gerencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gerencia.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
